.body {
    display: flex;
    /* flex-direction: row; */
    min-height: 100vh;
    /* background-image: ; */
}

.component {
    justify-self: flex-end;
    width: 100%;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;
}

.nav {
    background-color: #edf2f7;
}
.body {
    display: flex;
    /* flex-direction: row; */
    min-height: 100vh;
    /* background-image: ; */
}

.component {
    justify-self: flex-end;
    width: 100%;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;
}

.nav {
    background-color: #edf2f7;
}
